@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fff;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0);
  border-radius: 20px;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
